<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shweta.sharemytrip" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.example.shweta.sharemytrip.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.maps.API_KEY"
            android:value=" AIzaSyD6rpKlAroGrlsOopzGt6uBSEEuZuFSTAY" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Profile"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name=".CreateForm"
            android:label="@string/title_activity_create_form" >
        </activity>
        <activity
            android:name=".MapsActivity"
            android:label="Maps" >
        </activity>
        <activity
            android:name=".Join"
            android:label="@string/title_activity_join" >
        </activity>
        <activity
            android:name=".Signup"
            android:label="@string/title_activity_signup" >
        </activity>
        <activity
            android:name=".ChooseRoute"
            android:label="@string/title_activity_choose_route" >
        </activity>
        <activity
            android:name=".RideChoice"
            android:label="@string/title_activity_ride_choice" >
        </activity>
        <activity
            android:name=".DisplayJoin"
            android:label="@string/title_activity_display_join" >
        </activity>
        <activity
            android:name=".uberActivity"
            android:label="@string/title_activity_uber" >
        </activity>
    </application>

</manifest>
